@model TutorMeNow.SignalR.Hubs.ChatHub1

@{
    ViewBag.Title = "ChatView";
}

<h2>Chat</h2>

<form id="send-form" action="#">
    Send a message:
    <input type="text" id="message-textbox" disabled />
    <button id="send-button" type="submit" disabled>Send</button>
</form>