
@{
    <br />
    ViewBag.Title = "Search Methods";
    <br />
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p><a href="http://localhost:53127/Subcategory/Index" class="btn btn-primary btn-large">Click here</a> to search for or add your subcategory of interest.</p>
<p><a href="http://localhost:53127/FieldOfStudy/Index" class="btn btn-primary btn-large">Click here</a> to search for a subcategory under the main field of study.</p>

<br />
<br />
<p>Earth to Student © 2019.<br /> Luke Baierl</p>
