
@{
    <br />
    ViewBag.Title = "About";
    <br />
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p><a href="http://localhost:53127/Subcategory/Create" class="btn btn-primary btn-large">Click here</a> to search for your subject of interest.</p>


<br />
<br />
<p>Earth to Student © 2019.<br /> Luke Baierl</p>
