@{
    <br />
    ViewBag.Title = "Contact A Tutor/Student";
    <br />
}

<h2>@ViewBag.Title.</h2>

@*blah blah blah http://localhost:53127/Tutor blah blah*@

<h3>@ViewBag.Message</h3>
<br />
<br />

<br />
<br />
<address>
    <strong>Locate a Tutor:</strong>   <a href="http://localhost:53127/Tutor">here</a><br />
    <strong>Locate a Student:</strong> <a href="http://localhost:53127/Student">here</a>
</address>