@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Earth to Student</h1>
    <img src="~/Images/Tutoring.jpg" alt="Tutoring" />
    <p class="lead">"Earth to Student" is a web application designed to connect students and tutors either remotely or in person. A student's education matters and "Earth to Student" can help students achieve their educational goals.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    @*<p>Connect with a tutor through a <a href="http://localhost:53127/Home/Chat" class="btn btn-primary btn-large">live chat</a> now.</p>
    <p>Find your <a href="http://localhost:53127/Home/Subcategory/Index" class="btn btn-primary btn-large">subject</a> of interest here.</p>*@
</div>

@*<div>
    @Html.ActionLink("Chat with a Tutor Now", "Chat")
</div>*@
@*<div>
    @Html.ActionLink("Subject Search", "Subcategory/Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}