@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tutor Now</h1>
    <p class="lead">Tutor Now is a web application designed to connect students and tutors either remotely or in person. A student's education matters and Tutor Now can help students achieve their educational goals.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
