
@{
    
    ViewBag.Title = "QuizMe";
    
}
    <br />
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
<br />
<br />
<h2>Quiz Me!</h2>

<br />
<h3>Math Practice</h3>
<p>Quiz yourself with some basic <a href="http://localhost:53127/Quiz.aspx" class="btn btn-primary btn-large">Arithmetic</a>.</p>